*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --dark: black;
    --light:white;
    --primary:#4A4A4A;
    --secondary:#222222;
    --success:green;
}

body{
    background-color: var(--dark);
    color: white;
    font-family: 'Open Sans', sans-serif;
    max-height: 100vh;

}

/*utility*/
.row{
    display: flex;  
}

.column{
    display: flex;
    flex-direction: column;
}

/*header*/

.main_header{
    justify-content: flex-end;
    column-gap: 0.5rem;
    padding: 0.3rem;
}

.button_option{
    display: flex;
    column-gap: 0.5rem;
    background-color: var(--primary);
    padding: 0.2rem;
    border-radius: 5px;
    font-size: 0.8rem;
}


/*main*/

.container{
  max-width: 1960px;
}

.web-cam_boxes{
    column-gap: 0.5rem;
    row-gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;  
}

.web-cam{
    position: relative;
    width: 250px;
    height: 150px;
}

.name{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.479);
    padding: 0.1rem;
    font-size: 0.9rem;
}

.footer_container{
    position: relative;
    font-size: 0.9rem;
}

.row .microphone_camera{
    align-items: baseline;
    column-gap: 1rem;
}

.central_nav{
    column-gap: 1rem;
    align-items: baseline;
}

.footer_content{
    position: fixed;
    height: 8vh;
    background-color: var(--secondary);
    width: 100%;
    bottom: 0;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
}    

.icons_xl{
    font-size: 1.5rem;
}

.icon_container{
   align-items: center;
}

.active{
    color: var(--success) ;
}

.end_meeting{
    color: red;
    background-color: var(--primary);
    height: calc(100% + 1rem);
    margin-right: -1rem;
    padding: 1.5rem;
    align-items: center;
}